@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
body {
  background: black;
  overflow-x: hidden;
}
.starter {
  height: 100vh;
  background: url("2.png");
}
.secondStarter {
  height: 100vh;
  /* backdrop-filter: blur(2px); */
  backdrop-filter: brightness(25%);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.logo {
  display: inline-block;
  height: 40px;
}
.signIn {
  background: #e50914;
  color: white;
  border: 0px;
  border-radius: 5px;
  height: 40px;
  width: 90px;
  align-self: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.firstBody {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.title {
  font-size: 4rem;
  font-weight: 1100;
  font-family: "Josefin Sans", sans-serif;
  width: 60%;
  margin: auto;
}
.secondTitle {
  font-size: 2rem;
  font-weight: bold;
}
.thirdTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0px;
}
.firstForm {
  margin-top: 1rem;
  text-align: center;
  width: 100vw !important;
}
.firstForm input {
  border: 0;
  height: 50px;
  width: 400px;
}
.firstForm input::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.getStarted {
  height: 50px;
  width: 150px;
  background: #e50914;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  border: 0px;
}
.secondPage {
  background: black;
  color: white;
}
.hrLine {
  padding-top: 5px;
  height: 10px;
  background: #222222;
}
.flex1 {
  display: flex;
  flex-wrap: nowrap;
}
.flex2 {
  margin-bottom: 20px;
}
.secondPageTitle {
  font-size: 3rem;
  font-weight: 1100;
  font-family: "Josefin Sans", sans-serif;
}
.secondPageDesc {
  align-self: center;
  margin-left: 5rem;
  margin-right: 4rem;
}
.secondPageSubtitle {
  font-size: 1.5rem;
  font-weight: 600;
}
.secondImage {
  order: 1;
}
.secondPageSecondDesc {
  order: 2;
}
.secondPageThirdTitle {
  font-size: 3rem;
  font-weight: 1100;
  font-family: "Josefin Sans", sans-serif;
}
.thirdSubtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10px;
}
.thirdDesc {
  width: 40%;
  margin: 50px 0px;
  margin-left: 40px;
}
.fourthDesc {
  order: 2;
}
.fourthImage {
  order: 1;
}
.faq {
  color: white;
  text-align: center;
}
.faqTitle {
  margin: 30px 0px;
}
.box {
  height: 70px;
  width: 60%;
  background: #303030;
  margin-left: auto;
  margin-right: auto;
}

.emptySpace {
  height: 10px;
}
.box {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.info,
.infos {
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.sign {
  align-self: center;
  font-size: 2rem;
}
.ready {
  text-align: center;
  color: white;
  margin-top: 40px;
  font-size: 1.2rem;
}
.secondForm {
  margin-bottom: 40px;
}
.questions {
  color: grey;
  margin-bottom: 20px;
}
.lastFlexInside {
  color: grey;
  display: flex;
  gap: 5rem;
}
.item1,
.item2,
.item3,
.item4 {
  line-height: 2.5rem;
}
.lastFlex {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 20%;
}
.nepal {
  margin-top: 20px;
  color: grey;
}
a {
  color: grey;
}
a:hover {
  text-decoration: underline;
}
.boxc:hover{
  cursor: pointer;
}
@media only screen and (max-width: 950px) {
  html {
    font-size: 12px;
  }
  .thirdTitle {
    margin: 20px 0px;
  }
  .flex1 {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
  .secondPageDesc {
    order: 2;
    text-align: center;
  }
  .firstImage {
    order: 1;
  }
  .thirdDesc {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.boxz {
  height: auto;
  padding: 20px 40px;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
    overflow-x: hidden;
  }
  .thirdTitle {
    margin: 20px 0px;
  }
  .flex1 {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
  .secondPageDesc {
    order: 2;
    text-align: center;
  }
  .firstImage {
    order: 1;
  }
  .thirdDesc {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .getStarted {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .fifthImg,
  .sixthImg,
  .seventhImg {
    width: 90%;
    height: auto;
  }
  .box {
    width: 90%;
  }
  .boxz{
    height:auto;
    text-align:left;
  }
  .lastFlexInside {
    display: grid;
    grid-template-columns: 40% 40%;
  }
}
